
.tracks-container {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    margin-top: 5em;
    padding-bottom: 5em;
}

@media only screen and (max-width: 768px) {
    .tracks-container {
        grid-template: auto auto / repeat(1, 1fr);
    }
}   